@use 'sass:color';

@use '@material/theme/color-palette';

$primary: #db1c26;

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: $primary,
	$secondary: color.scale(#676778, $whiteness: -10%),
	$surface: #0b131c,
	$background: #000,
	$error: color-palette.$red-700
);

html,
body {
	background-color: #000;
	color: theme.$on-surface;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}
a:visited {
	color: #fff;
	text-decoration: none;
}

input {
	accent-color: $primary;
}
