@use 'sass:color';

@use '@material/theme/color-palette';

$primary: #db1c26;

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: $primary,
	$secondary: #676778,
	$surface: #fff,
	$background: #fff,
	$error: color-palette.$red-900
);

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}
a:visited {
	color: #000;
	text-decoration: none;
}
